.classpath
.project
.settings
bin
/spins/
*.spins
*.spins.c
*.diff
*.model
*.trail
pan.*
pan
doc/api
backup-*
.DS_Store
src/spins/promela/compiler/parser/Promela*
src/spins/promela/compiler/parser/Parse*
src/spins/promela/compiler/parser/Token*
src/spins/promela/compiler/parser/SimpleCharStream*
build
spins.jar
